

$default-blue-color:#4F2CD9;
$hover-blue-color:#3213AC;
$selected-blue-color:#240C86;
$default-grey-color:#D9D9D9;
$default-red-color:#D73737;
$hover-red-color:#D73737;
$selected-red-color:#B72121;
$black-color:#000000;
$color-text-description:#595959;
$color-text-blue:#595959;
$color-white:#ffffff;
$hover-list-color:#1E8FFF;


