@import "../../../styles/variable/variable";

.active {
  display: block;
}

.noactive {
  display: none;
}

.sort_container {

  input {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
  }

  .sort {
    min-width: 206px;
    position: absolute;
    z-index: 1000;
    border: 1px solid $black-color;
    cursor: pointer;

    .sort_item:hover {
      background-color: $hover-list-color;
    }
  }
}
